@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@600&family=Peddana&display=swap');

@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');

body {
    color: #000010;
    font-family: Peddana, Verdana, sans-serif;
    font-size: 20px;
    margin: 20px;
    background-color: #f5f1e8;
}


h1, h2, h3, h4, h5, h6 {
    font-family: Fraunces, serif;
}

header {
    background-color: #d3a625;
    padding: 10px;
    position: sticky;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.logo {
    grid-column: 1;
}

nav {
    grid-column: 2;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
    padding: 10px;
}

nav a {
    color: #000010;
    text-decoration: none;
    font-size: 28px;
}

nav a:hover {
    color: #6c473f;
    text-decoration: overline #6c473f;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 50px;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

p {
    font-size: 24px;
    line-height: 1.5;
}